.user-container {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border: 1px solid rgba(59, 59, 59, 0.3);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-container h2 {
    margin: 0px;
}

.user-title {
    margin-top: 15px;
}

.user-info {
    font-weight: lighter;
}