.footer {
width: 100%;
min-height: 15vh;
display: flex;
justify-content: center;
align-items: center;
background: rgba(255, 255, 255, 0.05);
} 

.footer-title {
    color:white;
    font-weight: 300;
    text-align: center;
}